- content_for(:title) { 'Buildings' }

%table.table.table-striped.table-hover
  %tr
    %th Name
    %th From
    %th To

  - @buildings.each do |building|
    %tr
      %td= link_to building.name, building
      %td= building.start_year
      %td= building.end_year

.form-actions
  = link_to 'New Building', new_building_path, class: 'btn btn-primary'