%h2 Artifacts

- unless artifactable.artifacts.empty?
  %table.table.table-striped.table-hover
    %tr
      %th
      %th Name
      %th Description
    - artifactable.artifacts.each do |artifact|
      %tr
        %td= link_to image_tag(artifact.file.url(:thumb)), artifact
        %td= link_to artifact.name, artifact
        %td= artifact.description

= link_to 'Add artifact', [:new, artifactable, :artifact], class: 'btn'